In [1]:
import pandas as pd

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [6]:
senti_analyzer=SentimentIntensityAnalyzer()

# 감성분석 함수 생성

In [7]:
def get_sentiment(sentence):
    senti_score=senti_analyzer.polarity_scores(sentence)
    return(senti_score['compound'])

# 감성분석 수행

In [11]:
cnn=pd.read_csv('CNN_기사_final.csv',encoding='cp949')
cnn['score']=cnn['title'].apply(get_sentiment)

a=cnn.groupby('date')['score'].mean()
a.index=pd.to_datetime(a.index)

# 신한 데이터와 합치기

In [27]:
sh=pd.read_csv('신한지주_pre.csv')
sh['날짜']=pd.to_datetime(sh['날짜'])
sh_merge=pd.merge(sh,a,left_on='날짜',right_on=a.index,how='outer')

In [28]:
sh_merge=sh_merge.iloc[:2123,:]

In [29]:
sh_merge

,날짜,year,month,day,종가,대비,등락률,거래량,거래대금,시가총액,...,경제심리지수(원계열),경제심리지수(순환변동치),산업생산지수,물가상승률,소비자신뢰지수,소비자심리지수,경제활동참가율(%),실업률(%),고용률(%),score
0,2017-06-08,2017.0,6.0,8.0,49400.0,100.0,0.20,1342162.0,6.623365e+10,2.342546e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
1,2017-06-09,2017.0,6.0,9.0,49900.0,500.0,1.01,974960.0,4.861680e+10,2.366256e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
2,2017-06-10,2017.0,6.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
3,2017-06-11,2017.0,6.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
4,2017-06-12,2017.0,6.0,12.0,50300.0,400.0,0.80,1279975.0,6.462560e+10,2.385224e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2118,2023-03-27,2023.0,3.0,27.0,34850.0,300.0,0.87,1092755.0,3.800449e+10,1.773115e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.00000
2119,2023-03-28,2023.0,3.0,28.0,35950.0,1100.0,3.16,1523706.0,5.472653e+10,1.829082e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.37895
2120,2023-03-29,2023.0,3.0,29.0,36200.0,250.0,0.70,1045362.0,3.769505e+10,1.841801e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,-0.15398
2121,2023-03-30,2023.0,3.0,30.0,35100.0,-1100.0,-3.04,1547328.0,5.452927e+10,1.785835e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.07955
2122,2023-03-31,2023.0,3.0,31.0,35350.0,250.0,0.71,1636843.0,5.753574e+10,1.798555e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.12040

In [32]:
sh_merge['year']=sh['날짜'].dt.year

In [34]:
sh_merge['month']=sh['날짜'].dt.month

In [35]:
sh_merge['day']=sh['날짜'].dt.day

In [36]:
sh_merge

,날짜,year,month,day,종가,대비,등락률,거래량,거래대금,시가총액,...,경제심리지수(원계열),경제심리지수(순환변동치),산업생산지수,물가상승률,소비자신뢰지수,소비자심리지수,경제활동참가율(%),실업률(%),고용률(%),score
0,2017-06-08,2017,6,8,49400.0,100.0,0.20,1342162.0,6.623365e+10,2.342546e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
1,2017-06-09,2017,6,9,49900.0,500.0,1.01,974960.0,4.861680e+10,2.366256e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
2,2017-06-10,2017,6,10,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
3,2017-06-11,2017,6,11,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
4,2017-06-12,2017,6,12,50300.0,400.0,0.80,1279975.0,6.462560e+10,2.385224e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2118,2023-03-27,2023,3,27,34850.0,300.0,0.87,1092755.0,3.800449e+10,1.773115e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.00000
2119,2023-03-28,2023,3,28,35950.0,1100.0,3.16,1523706.0,5.472653e+10,1.829082e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.37895
2120,2023-03-29,2023,3,29,36200.0,250.0,0.70,1045362.0,3.769505e+10,1.841801e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,-0.15398
2121,2023-03-30,2023,3,30,35100.0,-1100.0,-3.04,1547328.0,5.452927e+10,1.785835e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.07955
2122,2023-03-31,2023,3,31,35350.0,250.0,0.71,1636843.0,5.753574e+10,1.798555e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.12040

In [37]:
sh_merge.rename(columns={'score':'영문기사감성점수'},inplace=True)

In [38]:
sh_merge #영어 기사 추가한 최종 데이터셋

,날짜,year,month,day,종가,대비,등락률,거래량,거래대금,시가총액,...,경제심리지수(원계열),경제심리지수(순환변동치),산업생산지수,물가상승률,소비자신뢰지수,소비자심리지수,경제활동참가율(%),실업률(%),고용률(%),영문기사감성점수
0,2017-06-08,2017,6,8,49400.0,100.0,0.20,1342162.0,6.623365e+10,2.342546e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
1,2017-06-09,2017,6,9,49900.0,500.0,1.01,974960.0,4.861680e+10,2.366256e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
2,2017-06-10,2017,6,10,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
3,2017-06-11,2017,6,11,NaN,NaN,NaN,NaN,NaN,NaN,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
4,2017-06-12,2017,6,12,50300.0,400.0,0.80,1279975.0,6.462560e+10,2.385224e+13,...,99.8,99.6,103.9,97.338,111.0,110.8,63.9,3.8,61.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2118,2023-03-27,2023,3,27,34850.0,300.0,0.87,1092755.0,3.800449e+10,1.773115e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.00000
2119,2023-03-28,2023,3,28,35950.0,1100.0,3.16,1523706.0,5.472653e+10,1.829082e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.37895
2120,2023-03-29,2023,3,29,36200.0,250.0,0.70,1045362.0,3.769505e+10,1.841801e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,-0.15398
2121,2023-03-30,2023,3,30,35100.0,-1100.0,-3.04,1547328.0,5.452927e+10,1.785835e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.07955
2122,2023-03-31,2023,3,31,35350.0,250.0,0.71,1636843.0,5.753574e+10,1.798555e+13,...,91.5,89.8,112.5,110.560,92.0,92.0,64.1,2.9,62.2,0.12040